include ../variables
include ../mixins

doctype html
head
	meta(charset="UTF-8")
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	)
	title Pugs (Pug + SCSS)

	// Fonts Require Block

	// Styles Require Block

	// Libs Require

	// Scripts Require

	block head
body
	block content